<div *ngIf="!unUsuario">
    <h1>Detalle Usuario</h1>
    <p> Seleccione un usuario </p>
</div>
<div *ngIf="unUsuario">
    <h1>Detalle Usuario</h1>
    <h4>{{unUsuario.email}}</h4>
    <p>Id: {{unUsuario.id}}</p>
    <p>Sexo: {{unUsuario.Sexo}}</p>
    <p>Nombre: {{unUsuario.Nombre}}</p>
    <p>Apellido: {{unUsuario.Apellido}}</p>
    <p>Fecha de Nacimiento: {{unUsuario.FechaNac}}</p>
    <p>Foto de Perfil: <img [src]="unUsuario.FotoPerfil" style="width: 50px; height: 50px; text-align: center;">
    </p>
</div>

<button class="btn btn-primary" (click)="LipiarDetalle()">Limpiar</button> <app-boton-entidad [unUsuario]="unUsuario" (porEliminar)="borrarEnDetalle($event)" ></app-boton-entidad> 
